<?xml version="1.0"?>
<launch>
    <node pkg="joy" type="joy_node" name="joy" output="screen">
        <param name="dev" value="/dev/input/js0" />
    </node>

    <node pkg="ropod_teleop" type="joy" name="ropod_teleop" output="screen">
        <param name="joy_topic" value="/ropod/joy" />
        <param name="base_vel_topic" value="/load/cmd_vel" />
        <param name="max_linear_vel" value="1.0" />
        <param name="max_angular_vel" value="1.0" />
    </node>
</launch>
